<div class="home">
	<%= image_tag("home.jpg", class: "home_img") %>
	<h1>星月夜の描き方</h1>
	<div id="home_link">
		<%= link_to "Info", info_path, class: "home_link" %>
		<%= link_to "Scenario", "#", class: "home_link" %>
		<%= link_to "Character", "#", class: "home_link" %>
		<%= link_to "Picture", "#", class: "home_link" %>
	</div>
</div>